.component {
    width: 568px;
    height: 80px;
    position: relative;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row-reverse;
}

.section {
    padding: 0px;
    position: absolute;
    height: 656px;
    left: 16px;
    top: 100px;
}

.sectionOver {
    padding: 0px;
    position: relative;
    height: 469px;
    left: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sectionOver::-webkit-scrollbar {
    width: 8px;
}
 
.sectionOver::-webkit-scrollbar-track {
    background: #2F2F37;
}
 
.sectionOver::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #8585AD;
}
.ingridient {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    height: 80px;
    left: 32px;
    right: 0px;
    top: calc(50% - 80px/2);
    background: #1C1C21;
    border-radius: 88px 88px 40px 40px;
}


.img {
    width: 80px;
    height: 40px;
}

.name {
    width: 254px;
    height: 48px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 62px;
    height: 24px;
}

.svg {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: calc(50% - 24px/2);
}

