.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 320px;
    /*left: 380px;*/
    right: 64%;
    top: 228px;
    font-family: 'Jet Brains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #8585AD;
}

.frame {
    width: 320px;
    height: 64px;
}

.text {
    height: 64px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.frame :hover {
    font-size: 25px;
}

.orders {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 750px;
    height: 916px;
    /*left: 760px;*/
    left: 40%;
    top: 148px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.orders::-webkit-scrollbar {
    width: 8px;
}

.orders::-webkit-scrollbar-track {
    background: #2F2F37;
}

.orders::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #8585AD;
}

.ordersWidth {
    width: 750px;
}
.caption {
    position: absolute;
    width: 320px;
    height: 48px;
    /*left: 380px;*/
    right: 64%;
    top: 500px;
}
.ctext {
    width: 320px;
    height: 48px;
    left: 0px;
    top: 0px;
    color: #8585AD;
    opacity: 0.4;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}