.main {
    position: absolute;
    width: 600px;
    height: 912px;
    left: 1020px;
    top: 128px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 568px;
    height: 64px;
    left: 16px;
    top: 796px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    height: 64px;
}

.p {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: right;
}

.ico {
    width: 36px;
    height: 36px;
    display: contents;
}