
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 272px;
    height: 206px;
}

.text {
    font-family: 'Jet Brains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #F2F2F3;
}


.list {
    display: flex;
    align-items: flex-start;
}

.listItem {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 160px;
    width: 272px;
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;

}

.listSpan {
    width: 50%;
    display: block;
}