.cardNoModal {
    display: flex;
    justify-content: space-around;
}

.cardNoModalDump {
    padding: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 36px;
    position: absolute;
    height: 64px;
    left: 40px;
    right: 40px;
    top: 120px;
}

.headText {
    width: 580px;
    height: 64px;
    font-family: 'Jet Brains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headTextNoModal {
    width: 100%;
    font-family: 'Jet Brains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    justify-content: space-around;
}

.headClose {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.frame {
    position: absolute;
    width: 520px;
    height: 30px;
    left: 100px;
    top: 481px;
}

.frameNoModal {
    position: absolute;
    width: 520px;
    height: 30px;
    top: 481px;
}


.frameSpan {
    position: absolute;
    height: 30px;
    left: 0px;
    right: 0px;
    top: 0px;
    font-family: 'Jet Brains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.nutrition {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 516px;
    height: 56px;
    left: 102px;
    top: 590px;
}

.nutritionNoModul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 516px;
    height: 56px;
    top: 543px;
}

.values1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 120px;
    height: 56px;
}

.values2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 112px;
    height: 56px;
}

.values3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 112px;
    height: 56px;
}

.values4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 112px;
    height: 56px;
}

.kkal {
    width: 120px;
    height: 24px;
    font-family: 'Jet Brains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #8585AD;
}

.valname {
    width: 120px;
    height: 24px;
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    color: #8585AD;
}

.img {
    position: absolute;
    width: 520px;
    height: 240px;
    left: 100px;
    top: 225px;
}

.imgNoModal {
    position: absolute;
    width: 520px;
    height: 240px;
    top: 225px;
}